@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:700,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.colors .teal-colors {
  width: 300px;
  float: left; }
  .colors .teal-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .teal-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .teal-colors .box-100 {
    background-color: #B2DFDB; }
  .colors .teal-colors .box-200 {
    background-color: #80CBC4; }
  .colors .teal-colors .box-300 {
    background-color: #4DB6AC; }
  .colors .teal-colors .box-400 {
    background-color: #26A69A; }
  .colors .teal-colors .box-500 {
    background-color: #009688; }
  .colors .teal-colors .box-600 {
    background-color: #00897B; }
  .colors .teal-colors .box-700 {
    background-color: #00796B; }
.colors .orange-colors {
  width: 300px;
  float: left;
  margin-left: 20px; }
  .colors .orange-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .orange-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .orange-colors .box-100 {
    background-color: #FFE0B2; }
  .colors .orange-colors .box-200 {
    background-color: #FFCC80; }
  .colors .orange-colors .box-300 {
    background-color: #FFB74D; }
  .colors .orange-colors .box-400 {
    background-color: #FFA726; }
  .colors .orange-colors .box-500 {
    background-color: #FF9800; }
  .colors .orange-colors .box-600 {
    background-color: #FB8C00; }
  .colors .orange-colors .box-700 {
    background-color: #F57C00; }
.colors .pink-colors {
  width: 300px;
  float: left;
  margin-left: 20px; }
  .colors .pink-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .pink-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .pink-colors .box-100 {
    background-color: #F8BBD0; }
  .colors .pink-colors .box-200 {
    background-color: #F48FB1; }
  .colors .pink-colors .box-300 {
    background-color: #F06292; }
  .colors .pink-colors .box-400 {
    background-color: #EC407A; }
  .colors .pink-colors .box-500 {
    background-color: #EC407A; }
  .colors .pink-colors .box-600 {
    background-color: #E91E63; }
  .colors .pink-colors .box-700 {
    background-color: #D81B60; }

.colors .teal-colors {
  width: 300px;
  float: left; }
  .colors .teal-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .teal-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .teal-colors .box-100 {
    background-color: #B2DFDB; }
  .colors .teal-colors .box-200 {
    background-color: #80CBC4; }
  .colors .teal-colors .box-300 {
    background-color: #4DB6AC; }
  .colors .teal-colors .box-400 {
    background-color: #26A69A; }
  .colors .teal-colors .box-500 {
    background-color: #009688; }
  .colors .teal-colors .box-600 {
    background-color: #00897B; }
  .colors .teal-colors .box-700 {
    background-color: #00796B; }
.colors .orange-colors {
  width: 300px;
  float: left;
  margin-left: 20px; }
  .colors .orange-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .orange-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .orange-colors .box-100 {
    background-color: #FFE0B2; }
  .colors .orange-colors .box-200 {
    background-color: #FFCC80; }
  .colors .orange-colors .box-300 {
    background-color: #FFB74D; }
  .colors .orange-colors .box-400 {
    background-color: #FFA726; }
  .colors .orange-colors .box-500 {
    background-color: #FF9800; }
  .colors .orange-colors .box-600 {
    background-color: #FB8C00; }
  .colors .orange-colors .box-700 {
    background-color: #F57C00; }
.colors .pink-colors {
  width: 300px;
  float: left;
  margin-left: 20px; }
  .colors .pink-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .pink-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .pink-colors .box-100 {
    background-color: #F8BBD0; }
  .colors .pink-colors .box-200 {
    background-color: #F48FB1; }
  .colors .pink-colors .box-300 {
    background-color: #F06292; }
  .colors .pink-colors .box-400 {
    background-color: #EC407A; }
  .colors .pink-colors .box-500 {
    background-color: #EC407A; }
  .colors .pink-colors .box-600 {
    background-color: #E91E63; }
  .colors .pink-colors .box-700 {
    background-color: #D81B60; }

.display {
  color: black; }

.one {
  font-weight: 300; }

.two {
  font-weight: 400; }

.three {
  font-weight: 500; }

.four {
  font-weight: 700; }

.typography {
  width: 1200px; }
  .typography .type-about .caption {
    color: black;
    letter-spacing: .2px; }
  .typography .type-weight {
    color: black;
    float: left; }
  .typography .type-sizes {
    float: left;
    width: 300px;
    margin-left: 100px; }
    .typography .type-sizes .headline {
      color: black; }
    .typography .type-sizes .title {
      color: black; }

.type-sizes left-content {
  float: left; }
.type-sizes .right-content {
  float: left;
  height: 300px;
  width: 80px;
  line-height: 50px; }

.display {
  font-size: 32px;
  line-height: 51.2px;
  letter-spacing: 0.32px;
  font-family: roboto;
  letter-spacing: .9px; }

.headline {
  font-size: 24px;
  line-height: 38.4px;
  letter-spacing: 0.24px;
  font-family: roboto;
  color: #009688;
  font-weight: medium; }
  .headline span {
    color: #009688; }

.title {
  font-size: 21px;
  line-height: 33.6px;
  letter-spacing: 0.21px;
  font-family: roboto; }

.subhead {
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.16px;
  font-family: roboto; }

.body {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-family: roboto; }

.caption {
  font-size: 13px;
  line-height: 20.8px;
  letter-spacing: 0.13px;
  font-family: roboto;
  letter-spacing: .7px; }

.button {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-family: roboto;
  font-weight: 500;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: white;
  color: #009688; }

.title span {
  color: #009688; }

.title {
  color: #009688; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.colors .teal-colors {
  width: 300px;
  float: left; }
  .colors .teal-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .teal-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .teal-colors .box-100 {
    background-color: #B2DFDB; }
  .colors .teal-colors .box-200 {
    background-color: #80CBC4; }
  .colors .teal-colors .box-300 {
    background-color: #4DB6AC; }
  .colors .teal-colors .box-400 {
    background-color: #26A69A; }
  .colors .teal-colors .box-500 {
    background-color: #009688; }
  .colors .teal-colors .box-600 {
    background-color: #00897B; }
  .colors .teal-colors .box-700 {
    background-color: #00796B; }
.colors .orange-colors {
  width: 300px;
  float: left;
  margin-left: 20px; }
  .colors .orange-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .orange-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .orange-colors .box-100 {
    background-color: #FFE0B2; }
  .colors .orange-colors .box-200 {
    background-color: #FFCC80; }
  .colors .orange-colors .box-300 {
    background-color: #FFB74D; }
  .colors .orange-colors .box-400 {
    background-color: #FFA726; }
  .colors .orange-colors .box-500 {
    background-color: #FF9800; }
  .colors .orange-colors .box-600 {
    background-color: #FB8C00; }
  .colors .orange-colors .box-700 {
    background-color: #F57C00; }
.colors .pink-colors {
  width: 300px;
  float: left;
  margin-left: 20px; }
  .colors .pink-colors div {
    width: 300px;
    height: 40px;
    color: black;
    margin: 0px; }
  .colors .pink-colors .caption {
    margin-left: 15px;
    padding-top: 10px; }
  .colors .pink-colors .box-100 {
    background-color: #F8BBD0; }
  .colors .pink-colors .box-200 {
    background-color: #F48FB1; }
  .colors .pink-colors .box-300 {
    background-color: #F06292; }
  .colors .pink-colors .box-400 {
    background-color: #EC407A; }
  .colors .pink-colors .box-500 {
    background-color: #EC407A; }
  .colors .pink-colors .box-600 {
    background-color: #E91E63; }
  .colors .pink-colors .box-700 {
    background-color: #D81B60; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding-top: 250px; }

header {
  height: 300px;
  padding-top: 50px;
  background: #4DB6AC; }
  header .display {
    color: white;
    margin-top: 60px;
    margin-left: 50px; }

.main-nav {
  position: relative;
  background: #009688;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
  .main-nav ul li {
    float: left;
    margin-left: 50px;
    margin-top: 30px; }
    .main-nav ul li a {
      text-decoration: none;
      float: right;
      color: white; }

.nav1 .selected_nav {
  border-bottom: 1px solid white;
  padding-top: 7px; }

.nav2 .selected_nav {
  border-bottom: 1px solid white;
  padding-top: 7px; }

.nav3 .selected_nav {
  border-bottom: 1px solid white;
  padding-top: 7px; }

.nav4 .selected_nav {
  border-bottom: 1px solid white;
  padding-top: 7px; }

header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0; }

.main {
  padding: 110px 50px 50px;
  margin-top: 50px;
  position: relative;
  background-color: white; }

nav .circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F06292;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  float: right;
  z-index: 250;
  margin-right: 120px;
  margin-top: 50px; }
nav .tooltip {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  padding: 10px;
  max-width: 300px;
  border-radius: 7px; }

.buttons {
  display: inline-block;
  width: 1200px; }

.caption1 {
  color: #B8B8B8;
  font-weight: 100;
  margin-top: 72px; }

.caption2 {
  color: #B8B8B8;
  font-weight: 100;
  margin-top: 90px; }

.caption3 {
  color: #B8B8B8;
  font-weight: 100;
  margin-top: 75px; }

.button-container {
  width: 300px;
  height: 250px;
  background-color: #F3F3F3; }
  .button-container .caption {
    margin-top: 100px;
    color: #B8B8B8;
    font-weight: 100;
    float: left; }
  .button-container .circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F06292;
    margin-left: 120px; }
  .button-container .raised-button {
    width: 128px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    background-color: #F06292;
    margin-left: 90px; }
    .button-container .raised-button .button {
      margin-left: 36px;
      margin-top: 8px;
      color: white;
      font-weight: medium;
      font-size: 12px; }
  .button-container .addon-button {
    margin-left: 21px;
    margin-top: 21px; }
  .button-container .flat-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 110px;
    padding-top: 10px; }
    .button-container .flat-button .button {
      color: #F06292; }

svg {
  position: absolute;
  width: 250px;
  top: 240px;
  right: 30px;
  z-index: 200;
  cursor: pointer; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.material-icons.md-light.share {
  position: relative;
  margin-top: 20px;
  margin-left: 15px; }
  .material-icons.md-light.share:hover {
    color: #2fa3f2;
    cursor: pointer; }

#z-depth .z-depth1:hover, #z-depth .z-depth2:hover, #z-depth .z-depth3:hover, #z-depth .z-depth4:hover, #z-depth .z-depth5:hover {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24); }

nav .circle-button, .button-container .circle-button, .button-container .raised-button, #z-depth .z-depth1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

#z-depth .z-depth2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#z-depth .z-depth3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.all-icons, #z-depth .z-depth4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#z-depth .z-depth5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

#z-depth {
  display: inline-block;
  width: 900px; }
  #z-depth .z-depth1 {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: #F3F3F3; }
    #z-depth .z-depth1 p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 14px;
      color: black;
      margin-top: 70px; }
  #z-depth .z-depth2 {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: #F3F3F3; }
    #z-depth .z-depth2 p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 14px;
      color: black;
      margin-top: 70px; }
  #z-depth .z-depth3 {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: #F3F3F3; }
    #z-depth .z-depth3 p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 14px;
      color: black;
      margin-top: 70px; }
  #z-depth .z-depth4 {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: #F3F3F3; }
    #z-depth .z-depth4 p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 14px;
      color: black;
      margin-top: 70px; }
  #z-depth .z-depth5 {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    background-color: #F3F3F3; }
    #z-depth .z-depth5 p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 14px;
      color: black;
      margin-top: 70px; }

* {
  box-sizing: border-box; }

/* basic stylings ------------------------------------------ */
body {
  background: url(http://scotch.io/wp-content/uploads/2014/07/61.jpg); }

.container {
  font-family: 'Roboto';
  width: 600px;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
  float: left; }

h2 {
  text-align: center;
  margin-bottom: 50px; }

h2 small {
  font-weight: normal;
  color: #888;
  display: block; }

.footer {
  text-align: center; }

.footer a {
  color: #53B2C8; }

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #009688; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #009688;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #009688; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #009688;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #F8BBD0; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #F8BBD0; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #F8BBD0; }
  to {
    width: 0;
    background: transparent; } }
body {
  font-size: 12px;
  line-height: 30px; }
  body h1 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
    color: #009688;
    padding-bottom: 10px; }
  body p {
    font-family: "Roboto", sans-serif; }
  body div {
    margin-bottom: 20px; }

.buttons div {
  float: left;
  margin-right: 20px; }

.rounded-small {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #009688;
  color: white; }
  .rounded-small:hover {
    background-color: #009688; }

.rounded-medium {
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  width: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #009688;
  color: white; }
  .rounded-medium:hover {
    background-color: #009688; }

.rounded-large {
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #009688;
  color: white; }
  .rounded-large:hover {
    background-color: #009688; }

#example-centered-wrapper {
  width: 70px;
  height: 70px;
  border: thin black solid; }

#example-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: #009688; }
  #example-centered:hover {
    background-color: #009688; }

.clear {
  clear: both; }

/*# sourceMappingURL=main.css.map */
